html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-image: url("https://media.ticketmaster.eu/belgium/feature/smurfexperience/img/Smurf-FEATURE%20PAGE-1280x720.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.btn {
	min-width: 20%;
	min-height: 10%;
	position:absolute;
	background-color: #486EC5;
	color: #8AD77A;
	font-size: 3em;
	border-radius: 1000px;
	transition: transform 1s;
	
}

.btn:hover {
	background-color: #2764F0;
	/*font-size: 4em;*/
	/*color: #5DB84A;*/
	transform: scale(1.4);
}
